* {
    font-size: 16px;
}

.container {
    display: flex;
    background-color:#574F9E;
    margin-top: 3rem;

}

.box-one {
    flex: 2;
    padding: 3rem
}

.box-two {
    flex : 3;
    padding: 3rem;
}


.box-one h1 {
    font-family: 'Abril Fatface', Cursive;
    font-size: 2.5em;
    color: #BAB3FF;
    text-transform: uppercase;
}

p {
    font-family:'Poppins', Sans-Serif;
    font-size: 1em;
    color: #EBDD8D;
}

input{
    width: 100%;
    padding: 0.6rem 0.7rem;
    box-sizing: border-box;
    margin: 0.6rem 0;
    border: 2px solid #EBDD8D;
    border-radius: 4px;
    background-color: #EBDD8D;
  }

  #submit {
      margin-top: 2rem;    
  }

  label{
      padding-top: 0.5rem;
      font-family:'Poppins', Sans-Serif;
      font-size: 1em;
      text-transform: uppercase;
      color: #EBDD8D;
  }

  #subbutton {
    background-color: #9E903F;
    border: 2px solid #9E903F;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #EBDD8D;
    font-family:'Poppins', Sans-Serif;;
  }

   